* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
nav {
    background: #2e8b57;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #4CAF50, #2e8b57);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: rgb(168, 236, 172);
    color: #2e8b57;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Sections */
section {
    background: #b6f3a3;
    padding: 60px 20px;
    text-align: center;
}

/* Animals Section */
.title{
    background: #789b71;
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}
.animal-container {
    display: grid;
    grid-template-columns: repeat(3,250px);
    justify-content: center;
    gap: 40px;
    margin: 40px;
}
.card {
    background: #f4f4f4;
    width: 220px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s ease;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* Hover Effect */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Contact */
.contact {
    background: #12aa2b
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}